<%-await template('./toolbar')%>

<%
var menu = config.menu || {};
%>

<a ng-href="<%-await get_path('/')%>"
  class="brand">
  <div layout="column">
    <%if(menu.image){%>
    <div class="logo"
      style="background-image:url('<%-get_media(menu.image)%>')">
    </div>
    <%}%>

    <%if(menu.icon){%>
    <md-icon class="icon"
      md-svg-src="<%-get_media(menu.icon)%>">
    </md-icon>
    <%}%>

    <%if(menu.title){%>
    <h2 class="title">
      <%-lng(config.title)%>
    </h2>
    <%}%>
  </div>
</a>

<%
  var items = get_data('sidebar/menu');
  if(!items){
items = await site.pages.find({
parentPath: '/'
});
  }
%>
<div class="menu-list">
  <%if(items.length){%>
  <%for(item of items){
    var itemTemplate = 'ui/menu/item';
    if(item.type){
      itemTemplate += `-${item.type}`;
    }
      %>
  <%-await template(itemTemplate,{item:item})%>
  <%}%>
  <%}%>

</div>